@font-face {
  font-family: Metropolis;
  src: url(../../fonts/Metropolis-Bold.otf);
}

body, html {
  font-family: 'Metropolis';
  background-image: linear-gradient(to right, #ffafbd , #ffc3a0);
  text-align: center;
}

/* Loader */

#loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 80px;
  height: 80px;
  border: 10px solid transparent;
  border-radius: 50%;
  border-top: 10px solid white;
  animation: spin 1s linear infinite;
  transform-origin: center center;
  animation-fill-mode: forwards;
  margin: -40px 0 0 -40px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes animation {
  from{ bottom:-40px; opacity:0 }
  to{ bottom: 0px; opacity: 1}
}

.animation {
  position: relative;
  animation: animation 1s;

}

#loaderDiv {
  display: none;
}

/* Texts */

h1.title1 {
  margin-top: 84px;
  font-size: 55px;
  margin-bottom: 100px;
}

h1.title2 {
  font-size: 40px;
}

h2.sTitle1 {
  font-size: 40px;
}

p.text1 {
  font-size: 20px;
}